@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="text-center">@ViewBag.Message</h3>
    <p>Chào mừng đến với bài Assignment Số 3</p>
</div>
